<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

    <header th:replace="fragments :: header"></header>

    <form method="post" th:action="@{/events/edit}">
        <label>Name
            <input type="text" name="name" th:value="${event.name}"/>
        </label>
        <label>Description
            <input type="text" name="description" placeholder="Enter event descriptin..."/>
        </label>
        <input type="text"/>
        <input type="submit" value="Edit" class="btn btn-success"/>
    </div>
</form>

</body>
</html>